# URLs de APIs Externas
ENEM_API_BASE=https://api.enem.dev/v1
INEP_DOWNLOAD_BASE=https://download.inep.gov.br/enem/provas_e_gabaritos
INEP_PAGE_BASE=https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enem/provas-e-gabaritos

# Pode adicionar outras variáveis no futuro, como:
# ENVIRONMENT=development
# SECRET_KEY=minha_chave_secreta